<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home One || JobHere</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- All css files are included here
        ============================================ -->
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- This core.css file contents all plugins css file
        ============================================ -->
    <!-- Nice select css
        ============================================ -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- This core.css file contents all plugins css file
        ============================================ -->
    <link rel="stylesheet" href="css/core.css">

    <!-- Theme shortcodes/elements style
        ============================================ -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">

    <!--  Theme main style
        ============================================ -->
    <link rel="stylesheet" href="style.css">

    <!-- Color CSS
		============================================ -->
    <link rel="stylesheet" href="css/plugins/color.css">

    <!-- Responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!--Main Wrapper Start-->
    <div class="as-mainwrapper">
        <!--Header Area Start-->
        <%- include('../partial/headerdashboard') %>
            <!-- End of Header Area -->
            <main style="background-color: #F7F5F5;">
                <div class=" container pt-3 pb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-md-12 ">
                                        <div class="row ">
                                            <div class="form-group mr-2">
                                                <label for="">Desde</label>
                                                <input class="form-control form-control-sm" type="date">
                                            </div>
                                            <div class="form-group mr-2">
                                                <label for="">Hasta</label>
                                                <input class="form-control form-control-sm" type="date">
                                            </div>
                                            <div class="form-group ">
                                                <label for="">Acción:</label>
                                                <button class="btn mt-1 btn-block btn-success ">Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Etiqueta de Busqueda</th>
                                                        <th>Fecha</th>
                                                        <th>Cantidad de Favoritos</th> 
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>



            <footer class="footer-area">

                <div class="footer-top bg-opacity-dark-blue-90 ptb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 pb-sm-30">
                                <div class="subscribe-text">
                                    <h3>Suscribete a las notificaciones</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="subscribe-form">
                                    <input type="text" name="nombre" id="nombre" placeholder="Ingrese tu nombre">
                                    <input type="email" name="email" id="eamil" placeholder="Ingrese tu Correo">
                                    <button>Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="footer-widget-area ptb-80 pb-sm-30" id="contacto">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-26">Contáctanos</h3>
                                    <span class="text-white mb-9"><i class="fa fa-phone"></i> +51 999 999 999 </span>
                                    <span class="text-white mb-9"><i class="fa fa-envelope"></i>info@example.com</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21"> Condiciones</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">Preguntas Frecuentes</a></li>
                                        <li><a href="#">Términos y condiciones</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 d-md-4 d-lg-block">
                                <div class="single-footer-widget">
                                    <h3 class="text-white mb-21">Privacidad</h3>
                                    <ul class="footer-list">
                                        <li><a href="#">Política de privacidad</a></li>
                                        <li><a href="#">Política de Cookies</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End of Footer Widget-area-->
                <!-- Start of Footer area -->
                <div class="copyright-area text-center ptb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer-text">
                                    <span class="text-white block"> Copyright&copy; <a href="#">Jobhere</a>.All right
                                        reserved.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End of Footer area -->
    </div>
    <!--End of Main Wrapper Area-->


    <!-- jquery latest version
		========================================================= -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap framework js
		========================================================= -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.js"></script>

    <!-- Owl Carousel js
        ========================================================= -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Jquery nice select js 
        ========================================================= -->
    <script src="js/jquery.nice-select.min.js"></script>

    <!-- nivo slider js
		========================================================= -->
    <script src="lib/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="lib/nivo-slider/home.js"></script>

    <!-- Js plugins included in this file
		========================================================= -->
    <script src="js/plugins.js"></script>

    <!-- Video Player JS
		========================================================= -->
    <script src="js/jquery.mb.YTPlayer.js"></script>

    <!-- AJax Mail JS
		========================================================= -->
    <script src="js/ajax-mail.js"></script>

    <!-- Mail Chimp JS
		========================================================= -->
    <script src="js/jquery.ajaxchimp.min.js"></script>

    <!-- Waypoint Js
		========================================================= -->
    <script src="js/waypoints.min.js"></script>

    <!-- Main js file contents all jQuery plugins activation
		========================================================= -->
    <script src="js/main.js"></script>

</body>

</html>